
html, body{
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    

}

#divId{
    display: flex;
    justify-content: space-around;
    flex: 1;
    background-color: rgb(244, 244, 250);
   height: 30px;
    
}

main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 90%;
    /* align-items: center; */

}

.mainarea{
    display: flex;
    flex:1;
    order: 1;
    /* background-color:green; */
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
    /* height: 600px; */

}

label{
    display: block;
    margin-right: 8px;
    background-color: rgb(231, 240, 231);
    /* border: rgb(80, 78, 78) solid 1px; */
    /* padding: 4px 2px 2px 2px; */
    width: 110px;
    text-align: center;
   
}
.txtfield{
    /* display: flex;
    justify-content: center; */
   
  /* height: 16px; */
  border: mediumseagreen solid 1px;
  padding: 2px 2px 2px 2px;
}
#domtry{
    display: flex;
    flex-direction: row;
    justify-content:center;
    order: 3;
    margin-bottom : 30px;
   margin-top: 10px; 
}
.button {
    background-color: gray; /* Green */
    border: none; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonDiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100px;
      width: 290px;
      background-color: rgb(231, 240, 231);
      order: 3;
      border: mediumseagreen solid 1px;
  }

.keyBoard{
    display:flex;
    margin-top: 6px; 
    align-items:center;
    justify-content: space-evenly;
    width: 200.5px;
    height: 130px;
    /* background-color:black; */
    flex-wrap: wrap;
    /* border: solid black 2px; */
    border: mediumseagreen solid 1px;
    order: 4;
    /* flex: 1; */
   
    /* flex-flow: row; */
    
}
.letter-button{
    margin: 4px;
    border-bottom: dimgrey solid 1px;
    padding: 2px 4px 2px 4px;
}
.letter{

    margin: 4px;
    border-bottom: dimgrey solid 1px;
    padding: 2px 4px 2px 4px;
}



#picFieldID{
    display: flex;
    margin-bottom:30px ;
    order: -1;
    height: 55%;
    background-image: url('hang.jpg');
    border: mediumseagreen solid 1px;
    /* flex: 4; */
}

.asid-left{
    width: 150px;
    background-color: pink;
}
.asid-right{
    width: 150px;
    background-color: gray;
    
}
.inputHolder
{
    /* display: flex;
    direction:row;
    justify-content: center; */
    order: -1;
    width: 6px;
    height:10px;
    /* background-color: indianred; */
    border-bottom: maroon solid 2px;
    margin-left: 6px;
    padding:6px;
    align-self: flex-start;

}
.flexContainer{
    display: flex;
    margin-bottom: 20px;
    background-color:rgb(231, 240, 231) ;
    order: 2;
}

.picbox{
width: 600px; 
height:300px; 
background-color:gray;

}